@font-face {
  font-family: "MongolianScript";
  src: url("./font/mongolian-script.ttf");
}

@font-face {
  font-family: "Helvetica";
  font-weight: normal;
  src: url("./font/Helvetica.ttf");
}

@font-face {
  font-family: "Helvetica";
  font-weight: bold;
  src: url("./font/Helvetica-Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #303030;
}

::-webkit-scrollbar-thumb {
  background: #EBE6E1;
  border-radius: 10px;
}

html,
body {
  font-family: "MongolianScript";
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: auto;
  background: #303030;
}

.helvetica {
  font-family: 'Helvetica';
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
}

.bold {
  font-weight: bold;
}

.header {
  position: fixed;
  width: 100px;
  height: 100%;
  background: rgba(0, 0, 0, 0.30);
  backdrop-filter: blur(7.5px);
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.header div {
  display: flex;
  gap: 30px;
  margin: 30px 0px;
}

.header div svg {
  cursor: pointer;
}

/* Үндсэн */

.page {
  width: 100%;
  height: 100%;
  background: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.page .hero {
  width: 60%;
  height: 100%;
  background-image: url("../public/heroimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 30px;
}

.page .hero .container {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  height: 25%;
  color: white;
  padding: 30px 15px;
  font-size: 1.5vw;
}

.page .hero .container .profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.page .hero .container .profile p {
  font-size: 16px;
}

.page .text {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  color: #EBE6E1;
}

.btn {
  font-size: 24px;
  border-radius: 5px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.20);
  color: white;
  font-family: "MongolianScript";
  cursor: not-allowed;
  font-weight: normal;
  padding: 15px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark {
  background: rgba(68, 68, 68, 0.80);
}

.largetypography {
  position: absolute;
  color: #A1A1A1;
  text-align: center;
  font-family: Helvetica;
  font-size: 7vw;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: 10px;
  top: 5%;
  mix-blend-mode: difference;
}

/* Жижиг дэлгэц */

@media screen and (max-width: 680px) {
  .header {
    width: 50px;
    background: #303030;
    position: static;
    backdrop-filter: unset;
  }

  .header .btn {
    font-size: 14px;
  }

  .page {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }

  .page .hero {
    width: 100%;
    height: 70%;
  }

  .page .hero .container {
    font-size: 3.5vw;
  }

  .page .text {
    width: 100%;
    height: 30%;
    font-size: 5vw;
  }

  .largetypography {
    top: unset;
  }
}

/* Орчин үеийн өнгө төрх */

.modern .largetypography {
  color: limegreen;
}

.modern .hero .container {
  background: rgb(245, 245, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  height: auto;
}

.modern button {
  outline: none;
  padding: 15px 10px;
  font-family: "MongolianScript";
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.modern-btn-1 {
  background: #ED64A6;
  border: 1px solid #ED64A6;
  color: white;
  border-radius: 15px;
  transition: 0.5s;
}

.modern-btn-1:hover {
  color: #ED64A6;
  background: white;
  transform: scale(1.1);
}

.modern-btn-2 {
  background: #303030;
  border: 1px solid #303030;
  color: white;
  border-radius: 3px;
  transition: 0.1s;
}

.modern-btn-2:hover {
  color: #303030;
  background: white;
}

.modern-btn-3 {
  color: rgb(255, 255, 255);
  background: #111;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.modern-btn-3:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.modern-btn-3:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.modern-btn-4 {
  background: #f5f5fa;
  border: none;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #1d0dca17;
  color: #2a1f62;
  transition: 0.2s;
}

.modern-btn-4:hover {
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

.modern .text {
  background: #fc00ff;
  background: -webkit-linear-gradient(160deg, #00dbde, #fc00ff);
  background: linear-gradient(160deg, #00dbde, #fc00ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}